.ads1,
.ads2,
.ads3,
.ads4,
.ads5,
.ads6,
.ads7,
.ads-footer,
.ads-left,
.ads-right {
  background-color: #f8f8f8;
  // background-color: pink;
  .title-ads {
    text-align: center;
    color: #aaaaaa;
    font-size: 14px;
    line-height: 22.4px;
    font-family: Roboto-Regular;
  }
}
.ads1 {
  width: 728px;
  margin: 0px auto 0;
  .content-ads {
    height: 90px;
  }
}
.ads2 {
  margin: 30px auto 0;
  .content-ads {
    height: 244px;
  }
}
.ads3 {
  margin: 0 auto;
  .content-ads {
    height: 90px;
  }
}
.ads4 {
  width: 300px;
  margin: 0 auto;
  .content-ads {
    height: 250px;
  }
}
.ads5 {
  width: 300px;
  margin: 20px auto 0;
  .content-ads {
    height: 600px;
  }
}
.ads6 {
  width: 300px;
  margin: 20px auto 0;
  .content-ads {
    height: 250px;
  }
}
.ads7 {
  width: 480px;
  margin: 16px auto;
  .content-ads {
    height: 270px;
  }
}
.ads-footer {
  width: 1040px;
  margin: 0 auto;
  position: fixed;
  z-index: 9;
  bottom: 0;
  text-align: center;
  left: 50%;
  transform: translate(-50%, 0);

  .content-ads {
    height: 50px;
    position: relative;
  }
  .close {
    position: absolute;
    width: 28px;
    height: 28px;
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    margin-right: 16px;
    background-size: 655px;
    background-position: 0px -410px;
    right: -16px;
    top: 0;
    cursor: pointer;
  }
}
.ads-left {
  width: 119px;
  position: fixed;
  left: 0;
  top: 190px;
  &.top {
    top: 75px;
  }
  .content-ads {
    height: 598px;
  }
}
.ads-right {
  width: 119px;
  position: fixed;
  right: 0;
  top: 190px;
  &.top {
    top: 75px;
  }
  .content-ads {
    height: 598px;
  }
}
