.ads1 {
    width: 728px;
    background-color: pink;
    margin: 0px auto 0;

    .title-ads {
        text-align: center;
        color: #AAAAAA;
        font-size: 14px;
        line-height: 22.4px;
        font-family: Roboto-Regular;
    }
    .content-ads {
        height: 90px;
    }
}

.ads2 {
    background-color: pink;
    width: 970px;
    margin: 30px auto 0;

    .title-ads {
        text-align: center;
        color: #AAAAAA;
        font-size: 14px;
        line-height: 22.4px;
        font-family: Roboto-Regular;
    }

    .content-ads {
        height: 244px;
    }
}