.wrapper-container {
  .article {
    .title-article {
      font-family: PlusJakartaSans-Bold;
      color: #212121;
      font-size: 32px;
      line-height: 51.2px;
      margin-bottom: 12px;
    }
    .journalist {
      display: flex;
      align-items: center;
      margin-bottom: 16px;
      .icon-account {
        border-radius: 100%;
        margin-right: 6.67px;
        width: 26.67px;
        height: 26.67px;
        img {
          width: 26.67px;
          height: 26.67px;
        }
      }
      .name-account {
        font-family: PlusJakartaSans-Bold;
        font-size: 16px;
        line-height: 22.4px;
        color: #212121;
      }
      span {
        font-family: PlusJakartaSans-Regular;
      }
    }
    .img-article {
      margin: 0 auto 16px;
      text-align: center;
      img {
        width: 100%;
      }
      .desc-foto {
        margin-top: 8px;
        font-family: PlusJakartaSans-Regular;
        font-size: 14px;
        line-height: 19.6px;
        color: #aeaeae;
        text-align: center;
      }
    }
    p {
      padding-bottom: 20px;
      font-family: PlusJakartaSans-Regular;
      font-size: 16px;
      line-height: 25.6px;
    }
  }
  #baca-juga,
  .brt-terkait {
    .text {
      font-family: PlusJakartaSans-Bold;
      font-size: 16px;
      line-height: 25.6px;
      &.baca {
        color: #1d4595;
        margin-bottom: 16px;
      }
    }
    .group-baca {
      display: flex;
      margin-bottom: 24px;
      .img-baca {
        cursor: pointer;
        width: 54px;
        height: 54px;
        display: block;
        margin-right: 16px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 10px;
        }
      }
      .title,
      .title:visited,
      .title:link {
        color: #212121;
        text-decoration: none;
        width: calc(100% - 70px);
      }
    }
  }
  .fiture {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    &.no-font {
      justify-content: center;
    }
    .size-font {
      display: flex;
      gap: 22px;
      font-family: PlusJakartaSans-Regular;
      color: #212121;
      align-items: baseline;
      .font {
        cursor: pointer;
        &.active {
          font-family: PlusJakartaSans-Bold;
        }
        &.sm {
          font-size: 14px;
          line-height: 22.4px;
        }
        &.md {
          font-size: 16px;
          line-height: 25.6px;
        }
        &.bg {
          font-size: 20px;
          line-height: 32px;
        }
      }
    }
    .share {
      display: flex;
      align-items: center;
      .group-comment {
        font-family: PlusJakartaSans-Bold;
        display: flex;
        align-items: center;
        margin-right: 20px;
        .number {
          margin-right: 4px;
        }
        .img {
          background-image: url(../img/sprite.png);
          width: 33px;
          height: 33px;
          background-repeat: no-repeat;
          background-size: 655px;
          &.comment {
            background-position: -1px -89px;
          }
        }
      }
      .group-medsos {
        display: flex;
        align-items: center;
        .text {
          font-size: 16px;
          line-height: 25.6px;
          margin-right: 12px;
          font-family: PlusJakartaSans-Bold;
        }
        .img {
          background-image: url(../img/sprite.png);
          width: 33px;
          height: 33px;
          background-repeat: no-repeat;
          background-size: 655px;
          margin-right: 8px;
          &.facebook {
            background-position: -42px -89px;
          }
          &.twitter {
            background-position: -82px -89px;
          }
          &.whatsapp {
            background-position: -122px -89px;
          }
          &.email {
            background-position: -162px -89px;
          }
          &.link {
            background-position: -202px -89px;
            margin-right: -8px;
          }
        }
      }
    }
  }
  .brt-terkait {
    .title {
      font-family: PlusJakartaSans-Bold;
      font-size: 20px;
      line-height: 32px;
      color: #1d4595;
      margin-bottom: 20px;
      position: relative;
      padding-left: 35px;
      &::before {
        position: absolute;
        content: url(../img/icon-terkait.png);
        width: 28px;
        left: 0;
        right: 0;
        top: 2px;
        background-position: -2px -3px;
        background-size: 655px;
      }
    }
    .container-terkait {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
      .terkait {
        img {
          border-radius: 12px;
        }
      }
    }
  }
  .telusuri, .telusuri:visited, .telusuri:link {
    display: flex;
    justify-content: space-between;
    margin: 28px 0;
    text-decoration: none;
    background-color: #EAF1FF;
    align-items: center;
    border-radius: 10px;
    padding: 12px;
    .icon1 {
      background-image: url(../img/sprite.png);
      width: 42px;
      height: 42px;
      background-position: -11px -268px;
      background-repeat: no-repeat;
      background-size: 655px;
    }
    .text {
      font-family: PlusJakartaSans-Bold;
      font-size: 20px;
      line-height: 25.2px;
      color: #1D4595;
    }
    .icon2 {
      background-image: url(../img/sprite.png);
      width: 20px;
      height: 20px;
      background-position: -282px -6px;
      background-repeat: no-repeat;
      background-size: 655px;
    }
  }
  .follow-okz {
    margin: 0 auto;
    background-color: #F4F4F4;
    border-radius: 8px;
    padding: 12px;
    margin-bottom: 16px;
    width: 300px;
    display: flex;
    align-items: center;
    width: 303px;
    .text {
      font-family: PlusJakartaSans-Regular;
      font-size: 16px;
      line-height: 25.6px;
      margin-right: 10px;
    }
    .icon {
      background-image: url(../img/sprite.png);
      width: 24px;
      height: 24px;
      background-position: -79px -413px;
      background-repeat: no-repeat;
      background-size: 655px;
    }

  }
  #paging {
    border-radius: 5px;
    background-color: #f4f4f4;
    padding: 22px 18px;
    display: flex;
    align-items: center;
    .title {
      font-size: 16px;
      line-height: 20.16px;
      font-family: PlusJakartaSans-Bold;
    }
    .box-nomor {
      display: flex;
      flex-wrap: wrap;
      width: calc(100% - 107px - 4px);
      margin-right: 3px;
      margin-left: 40px;
      .nomor,
      .nomor:visited,
      .nomor:link {
        display: block;
        border-radius: 100%;
        text-align: center;
        font-size: 16px;
        line-height: 20.16px;
        font-family: PlusJakartaSans-Bold;
        margin-right: 2px;
        color: #000;
        text-decoration: none;
        padding: 10px 17px;
        &.active {
          background-color: #1d4595;
          color: #fff;
        }
      }
    }
    .lihat-semua,
    .lihat-semua:link,
    .lihat-semua:visited {
      border-radius: 8px;
      background-color: #1d4595;
      padding: 8px 0px;
      color: #fff;
      font-size: 16px;
      font-family: PlusJakartaSans-Bold;
      line-height: 22.4px;
      text-decoration: none;
      width: 136px;
      text-align: center;
    }
  }
  #tag {
    margin-bottom: 28px;
    .title {
      font-size: 16px;
      line-height: 29px;
      margin: 16px 0;
      font-family: PlusJakartaSans-Bold;
    }
    .box-tag {
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
      .text, .text:visited, .text:link   {
        display: block;
        color: #1d4595;
        text-align: center;
        font-family: PlusJakartaSans-Bold;
        font-size: 14px;
        line-height: normal;
        padding: 12px 16px;
        border-radius: 16px;
        border: 1px solid #1d4595;
        transition: all .3s;
        text-decoration: none;
        &.active {
          background-color: #1d4595;
          color: #fff;
        }
      }
    }
  }
}

.container-recommendation {
  background-image: url("https://cdnapps.okezone.com/underwood/revamp/2023/remake/mobile/img/bg-for-you.webp");
  background-size: cover;
  background-repeat: no-repeat;
  padding-left: 12px;
  padding-right: 12px;
  height: max-content;
  padding-bottom: 20px;
  margin-top: 20px;
}

.container-recommendation .content-recommendation a {
  text-decoration: none;
}

.container-recommendation .group-text {
  display: flex;
  padding: 16px 0;
  gap: 10px;
  position: relative;
}

.container-recommendation .point-white {
  background-color: white;
  border-radius: 100%;
  font-size: 14px;
  line-height: 16.94px;
  font-family: 'Inter', sans-serif;;
  font-weight: 700;
  padding: 2px 8px;
  margin-bottom: auto;
  margin-top: 4px;
}

.container-recommendation .text-for {
  font-family: "Roboto700";
  color: white;
  font-size: 24px;
  line-height: 28.13px;
}

.container-recommendation .group-rec-ai {
  display: flex;
  gap: 12px;
  height: 80px;
  background-color: white;
  margin-bottom: 16px;
  border-radius: 10px;
  padding-left: 8px;
}

.container-recommendation .group-rec-ai .img-rec-ai {
  width: 64px;
  height: 64px;
  margin-top: auto;
  margin-bottom: auto;
}

.container-recommendation .group-rec-ai img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.container-recommendation .text-rec-ai {
  width: 70%;
  margin-top: 5px;
  font-family: PlusJakartaSans-Bold;
  padding-right: 12px;
  font-size: 14px;
}

.container-recommendation .text-rec-ai,
.container-recommendation .text-rec-ai:visited,
.container-recommendation .text-rec-ai:link {
  color: #000;
  line-height: 19.6px;
}

.container-recommendation .text-rec-ai {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 63px;
}


.container-recommendation .rec-more {
  width: 100%;
  background-color: #1B387B;
  color: white;
  padding: 8px 0;
  text-align: center;
  border-radius: 10px;
  font-family: "Roboto500";
  font-size: 16px;
  line-height: 18.75px;
  display: block;
}

.container-recommendation .rec-more:visited,
.container-recommendation .rec-more:link {
  color: white;
}

.container-recommendation #show-hover {
  background-color: white;
  width: 210px;
  font-family: "Roboto400";
  font-size: 14px;
  line-height: 18.2px;
  display: flex;
  position: absolute;
  top: 20px;
  left: 124px;
}

#show-hover .text-hover {
  font-family: "robotomedium";
  font-size: 14px;
  line-height: 18.2px;
}

#show-hover .group-hover {
  position: relative;
  display: flex;
  padding-top: 8px;
  padding-left: 12px;
  justify-content: space-between;
  padding-right: 12px;
}

#show-hover img {
  position: absolute;
  top: 10px;
  left: -9px;
}

#show-hover .rec-x {
  background-image: url("https://cdn.okezone.com/underwood/revamp/2023/remake/mobile/img/x.png");
  height: 12px;
  width: 12px;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 3px;
}


