* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: PlusJakartaSans-Bold;
  src: url(../font/PlusJakartaSans-Bold.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: PlusJakartaSans-Regular;
  src: url(../font/PlusJakartaSans-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Roboto-Regular;
  src: url(../font/Roboto-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

input:focus {
  outline: none;
}

.img {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

#widget-populer {
  .title {
    margin-bottom: 16px;
    font-size: 16px;
    font-style: normal;
    font-family: PlusJakartaSans-Bold;
    line-height: 140%;
  }
  .list-news {
    position: relative;
    border-radius: 8px;
    display: flex;
    background: #fff;
    align-items: start;
    &:nth-child(2) {
      .box-img {
        &::after {
          background-position: -4px -882px;
        }
      }
    }
    &:nth-child(3) {
      .box-img {
        &::after {
          background-position: -43px -885px
        }
      }
    }
    &:nth-child(4) {
      .box-img {
        &::after {
          background-position: -89px -886px;
        }
      }
    }
    &:nth-child(5) {
      .box-img {
        &::after {
          background-position: -4px -882px;
        }
      }
    }
    &:nth-child(6) {
      .box-img {
        &::after {
          background-position: -4px -882px;
        }
      }
    }
    .box-img {
      width: 95px;
      height: 64px;
      &::after {
        background-image: url(../img/sprite.png);
        background-size: 655px;
        content: "";
        width: 40px;
        height: 59px;
        position: absolute;
        left: 0px;
        bottom: 0px;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .box-text {
      width: calc(100% - 118px);
      margin-left: 12px;
      a {
        display: block;
      }
      .title {
        font-size: 14px;
        font-style: normal;
        font-family: "PlusJakartaSans700";
        line-height: 160%;
        letter-spacing: .2px;
        margin-bottom: 4px;
      }
    }
  }
}

#widget-pilihan {
  .title {
    margin: 20px 0 16px;
    font-family: PlusJakartaSans-Bold;
    font-size: 20px;
    line-height: 28px;
    color: #000000;
  }
  .group-pilihan {
    display: flex;
    margin-bottom: 20px;
    .img-pilihan {
      width: 31.6%;
      margin-right: 11.84px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .text-pilihan,
    .text-pilihan:visited,
    .text-pilihan:link {
      width: 69.3%;
      font-family: PlusJakartaSans-Bold;
      font-size: 14px;
      line-height: 22.4px;
      color: #212121;
      text-decoration: none;
    }
  }
}
