@import url(https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap);

@font-face {
  font-family: PlusJakartaSansBold;
  font-style: normal;
  font-weight: 700;
  src: local("PlusJakartaSans Bold"), local("PlusJakartaSans-Bold"), url(../font/PlusJakartaSans-Bold.woff2) format("woff2");
  font-display: swap
}

@font-face {
  font-family: PlusJakartaSans-Regular;
  src: url(../font/PlusJakartaSans-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: Roboto-Regular;
  src: url(../font/Roboto-Regular.ttf);
  font-weight: 400;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: Roboto400;
  font-style: normal;
  font-weight: 400;
  src: url(https://cdn.okezone.com/underwood/fonts/roboto-v18-latin/roboto-v18-latin-regular.eot);
  src: local("Roboto"), local("Roboto-Regular"), url(https://cdn.okezone.com/underwood/fonts/roboto-v18-latin/roboto-v18-latin-regular.eot?#iefix) format("embedded-opentype"), url(https://cdn.okezone.com/underwood/fonts/roboto-v18-latin/roboto-v18-latin-regular.woff2) format("woff2"), url(https://cdn.okezone.com/underwood/fonts/roboto-v18-latin/roboto-v18-latin-regular.woff) format("woff"), url(https://cdn.okezone.com/underwood/fonts/roboto-v18-latin/roboto-v18-latin-regular.ttf) format("truetype"), url(https://cdn.okezone.com/underwood/fonts/roboto-v18-latin/roboto-v18-latin-regular.svg#Roboto) format("svg");
  font-display: swap
}

@font-face {
  font-family: Roboto700;
  font-style: normal;
  font-weight: 700;
  src: url(https://cdn.okezone.com/underwood/fonts/roboto-v18-latin/roboto-v18-latin-700.eot);
  src: local("Roboto Bold"), local("Roboto-Bold"), url(https://cdn.okezone.com/underwood/fonts/roboto-v18-latin/roboto-v18-latin-700.eot?#iefix) format("embedded-opentype"), url(https://cdn.okezone.com/underwood/fonts/roboto-v18-latin/roboto-v18-latin-700.woff2) format("woff2"), url(https://cdn.okezone.com/underwood/fonts/roboto-v18-latin/roboto-v18-latin-700.woff) format("woff"), url(https://cdn.okezone.com/underwood/fonts/roboto-v18-latin/roboto-v18-latin-700.ttf) format("truetype"), url(https://cdn.okezone.com/underwood/fonts/roboto-v18-latin/roboto-v18-latin-700.svg#Roboto) format("svg");
  font-display: swap
}

@font-face {
  font-family: robotomedium;
  src: url(https://cdn.okezone.com/underwood/fonts/roboto-medium-webfont.woff2) format("woff2"), url(https://cdn.okezone.com/underwood/fonts/roboto-medium-webfont.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap
}

.card[data-v-5a3f67d8],
.card[data-v-bdc52751] {
    box-shadow: 0 0 4px rgba(66, 66, 66, .2);
    user-select: none
}

#widget-populer .list-news .box-img::after,
.ads-footer .close,
header .logo-techno,
header .other .login .img-login {
    background-image: url(https://cdn.okezone.com/underwood/revamp/2023/techno/desktop/img/xsprite.png.pagespeed.ic.hFAtfkcQeF.png);
    background-size: 655px
}

#widget-pilihan .group-pilihan .img-pilihan img,
#widget-populer .list-news .box-img img,
.img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px
}

#widget-populer .list-news .box-text a,
.wrapper-container .fiture .share .group-medsos .sosmed .bottomshare .upsosm .button-share.copylink-share .fbm-copied-message-dua.show,
.wrapper-container .fiture .share .group-medsos .sosmed .topshare .upsosm .button-share.copylink-share .fbm-copied-message-dua.show,
.wrapper-container .left-section .brt-terkini .group-brt-terkini .desc-section a,
.wrapper-container .left-section .headline .small-section .group-section .desc-section a,
header .other .burger-menu .bg-burger.open {
    display: block
}

#widget-pilihan .group-pilihan .text-pilihan:hover,
#widget-pilihan .group-pilihan .text-pilihan:link:hover,
#widget-pilihan .group-pilihan .text-pilihan:visited:hover,
#widget-populer .list-news .box-text .title:hover,
#widget-populer .list-news .box-text .title:link:hover,
#widget-populer .list-news .box-text .title:visited:hover,
.wrapper-container .left-section .brt-terkini .group-brt-terkini .desc-section .desc-text:hover,
.wrapper-container .left-section .brt-terkini .group-brt-terkini .desc-section .desc-text:link:hover,
.wrapper-container .left-section .brt-terkini .group-brt-terkini .desc-section .desc-text:visited:hover,
.wrapper-container .left-section .headline .big-section .desc-section .desc-text:hover,
.wrapper-container .left-section .headline .big-section .desc-section a:hover,
.wrapper-container .left-section .headline .small-section .group-section .desc-section .desc-text:hover {
    color: #457ae5
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
}


input:focus {
  outline: none;
}

.img {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

#widget-populer {
  margin-top: 20px;
  position: relative;
  .title {
    margin-bottom: 16px;
    font-size: 16px;
    font-style: normal;
    font-family: PlusJakartaSansBold;
    line-height: 140%;
  }
  .list-news {
    border-radius: 8px;
    display: flex;
    background: #fff;
    align-items: start;
    padding-bottom: 16px;
    margin-bottom: 0 !important;
    &:nth-child(2) {
      .box-img {
        &::after {
          background-position: -4px -874px;
        }
      }
    }
    &:nth-child(4) {
      .box-img {
        &::after {
          background-position: -43px -873px;
        }
      }
    }
    &:nth-child(6) {
      .box-img {
        &::after {
          background-position: -89px -875px;
        }
      }
    }
    &:nth-child(8) {
      .box-img {
        &::after {
          background-position: -140px -875px;
        }
      }
    }
    &:nth-child(10) {
      .box-img {
        &::after {
          background-position: -192px -874px;
        }
      }
    }
    .box-img {
      position: relative;
      width: 95px;
      height: 64px;
      &::after {
        content: "";
        width: 35px;
        height: 69px;
        position: absolute;
        left: 0;
        bottom: 0
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .box-text {
      width: calc(100% - 118px);
      margin-left: 12px;
      a {
        display: block;
      }
      .title,
      .title:visited,
      .title:link {
        &:hover {
          color: #457ae5;
        }
        font-size: 14px;
        font-family: PlusJakartaSansBold;
        line-height: 22.4px;
        letter-spacing: .2px;
        margin-bottom: 4px;
        text-decoration: none;
        color: #212121;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical
      }
    }
  }
}

#widget-pilihan {
  .title {
    margin: 20px 0 16px;
    font-family: PlusJakartaSansBold;
    font-size: 20px;
    line-height: 28px;
    color: #000
  }
  .group-pilihan {
    display: flex;
    margin-bottom: 16px;
    .img-pilihan {
      width: 31.6%;
      margin-right: 11.84px;
      height: 64px
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .text-pilihan,
    .text-pilihan:visited,
    .text-pilihan:link {
      width: 69.3%;
      font-family: PlusJakartaSansBold;
      font-size: 14px;
      line-height: 22.4px;
      color: #212121;
      text-decoration: none;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      &:hover {
        color: #457ae5;
      }
    }
  }
}

@media only screen and (min-width: 600px) and (max-width: 999px) {
  .ads2 {
    width: 589px;
  }
  .w-ads2 {
    width: 589px;
  }
  .article {
    .vicon > iframe {
      height: 246px;
      margin-bottom: 0;
    }
  }
}

@media only screen and (min-width: 999px) and (max-width: 1025px) {
  .article {
    .vicon > iframe {
      height: 378px;
      margin-bottom: 0;
    }
  }
}

@media only screen and (min-width: 600px) and (max-width: 1199px) {
  .ads-right,
  .ads-left {
    display: none;
  }
  header .other .burger-menu .content-burger.height {
    height: auto;
  }
  footer .footer {
    padding: 57px 0 38px 0;
  }
  .ads2 {
    width: 633px;
    overflow: hidden;
  }
  .w-ads2 {
    width: 633px;
  }
}

@media only screen and (min-width: 1199px) {
  header .other .burger-menu .content-burger.height {
    height: calc(100vh - 77px);
  }
  footer .footer {
    padding: 57px 0 0;
  }
}

@media only screen and (min-width: 600px) {
  .ads-right {
    right: 0;
  }
  .ads-left {
    left: 0;
  }
  header {
    .menu {
      padding: 0 24px;
      a {
        margin-right: 1px;
        font-size: 11px;
        padding: 8px 11px;
      }
    }
    .other {
      .burger-menu {
        .content-burger {
          right: 3px;
        }
      }
    }
  }
  .wrapper-container {
    .left-section {
      .headline {
        .big-section {
          display: block;
          .desc-section {
            width: 100%;
          }
        }
        .small-section {
          .group-section {
            .img-section {
              height: 100px;
            }
            .desc-section {
              .title-text {
                display: inline-flex;
              }
              .desc-text {
                font-size: 13px;
                line-height: 18px;
              }
            }
          }
        }
      }
    }
  }
  .other {
    .search {
      div {
        input {
          width: 538px;
        }
      }
    }
  }
  .wrapper-container {
    .left-section {
      .desc-section {
        .title-text {
          display: flex;
          align-items: center;
          .icon {
            width: 28px;
            height: 28px;
            background-image: url(../img/sprite.png);
            background-repeat: no-repeat;
            margin-right: 6px;
            background-size: 655px;
            &.gambar {
              background-position: -261px -223px;
            }
            &.video {
              background-position: -303px -223px;
            }
            &.index {
              background-position: -348px -223px;
            }
          }
        }
      }
      .brt-terkini {
        .group-brt-terkini {
          .img-section {
            height: 150px;
            width: 200px;
          }
          .desc-section {
            .title-text {
              display: flex;
              align-items: center;
              .icon {
                width: 28px;
                height: 28px;
                background-image: url(../img/sprite.png);
                background-repeat: no-repeat;
                margin-right: 6px;
                background-size: 655px;
                &.gambar {
                  background-position: -261px -223px;
                }
                &.video {
                  background-position: -303px -223px;
                }
                &.index {
                  background-position: -348px -223px;
                }
              }
            }
            width: calc(100% - 200px - 20px);
            .desc-text {
              font-size: 16px;
              line-height: 18px;
            }
          }
        }
      }
    }
  }
  .okztv {
    background-color: #1c1a27;
    padding: 25.8px 12px 20px;
    margin-bottom: 20px;
    .head-okztv {
      display: flex;
      justify-content: space-between;
      padding-bottom: 20px;
      .logo-okztv {
        background-image: url(https://cdn.okezone.com/underwood/revamp/2023/techno/desktop/img/xsprite.png.pagespeed.ic.hFAtfkcQeF.png);
        width: 121px;
        height: 32px;
        background-position: -168px -451px;
        background-repeat: no-repeat;
        background-size: 655px
      }
      .text-okztv,
      .text-okztv:visited,
      .text-okztv:link {
        font-family: PlusJakartaSansBold;
        font-size: 14px;
        line-height: 21px;
        color: #1c1a27;
        background-color: #fff;
        text-decoration: none;
        padding: 8px 27px;
        border-radius: 8px
      }
    }
    .content-okztv {
      .big-content {
        margin-bottom: 20px;
        display: block;
        .group-content {
          width: 100%;
          .img-content {
            width: 100%;
            height: 128px;
            display: block;
            cursor: pointer;
            margin-bottom: 16px;
            margin-right: 20px;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          .title-content,
          .title-content:visited,
          .title-content:link {
            color: #fff;
            font-family: PlusJakartaSansBold;
            font-size: 16px;
            line-height: 25.6px;
            text-decoration: none;
            cursor: pointer
          }
        }
      }

      .small-content {
        display: flex;
        flex-wrap: wrap;
        margin-right: -20px;
        .group-content {
          padding-bottom: 20.19px;
          width: 50%;
          .img-content {
            height: 85.813px;
            padding-right: 20px;
            cursor: pointer;
            display: block;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          .title-content,
          .title-content:visited,
          .title-content:link {
            font-family: PlusJakartaSansBold;
            font-size: 14px;
            line-height: 160%;
            color: #fff;
            cursor: pointer;
            text-decoration: none;
            display: block;
            padding-right: 20px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            height: 65.81px
          }
        }
      }
      // for you
      .container-recommendation {
        display: block;
        iframe {
          display: block;
          html {
            body {
              #foryou {
                display: block;
                .box-title {
                  .icon {
                    display: none;
                  }
                }
                .box-content {
                  display: block !important;
                  .box-image {
                    width: 100%;
                    display: flex !important;
                    img {
                      border-radius: 0;
                      width: 64px;
                      height: 64px;
                    }
                    .description {
                      margin-top: 0;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }



  @media only screen and (min-width: 999px) {
    .ads2 {
      width: 768px;
      overflow: hidden;
    }
    .w-ads2 {
      width: 768px;
    }
    header {
      .menu {
        padding: 0 40px;
        a {
          padding: 8px 13px;
          font-size: 14px;
        }
      }
    }
    .other {
      .search {
        div {
          input {
            width: 683px;
          }
        }
      }
    }
    .wrapper-container {
      .left-section {
        .headline {
          .big-section {
            display: block;
            .desc-section {
              width: 50%;
            }
          }
          .small-section {
            .group-section {
              .img-section {
                height: 178px;
              }
              .desc-section {
                .desc-text {
                  font-size: 16px;
                  line-height: 25.6px;
                }
              }
            }
          }
        }
        .brt-terkini {
          .group-brt-terkini {
            &.glance {
              .img-section {
                width: 385px;
                height: 250px;
              }
              .desc-section {
                width: calc(100% - 385px - 20px);
              }
            }
          }
          .okztv {
            .content-okztv {
              .big-content {
                .group-content {
                  width: 373px;
                  .img-content {
                    height: 265px;
                  }
                }
              }
              .small-content {
                width: calc(100% - 373px - 20px);
              }
            }
          }
        }
      }
    }
    .wrapper-container {
      .left-section {
        .brt-terkini {
          .group-brt-terkini {
            .img-section {
              height: 201px;
              width: 301px;
            }
            .desc-section {
              width: calc(100% - 301px - 20px);
              .desc-text {
                font-size: 20px;
                line-height: 32px;
              }
            }
          }
        }
      }
    }

    footer {
      .footer {
        .box-flex-footer {
          .box-footer {
            margin: 0 44px 24px;
          }
        }
      }
    }
    .wrapper-container
      .left-section
      .brt-terkini
      .group-brt-terkini
      .img-section {
      height: 201px;
    }
    .okztv {
      background-color: #1c1a27;
      padding: 25.8px 12px 20px;
      margin-bottom: 20px;
      .head-okztv {
        display: flex;
        justify-content: space-between;
        padding-bottom: 20px;
        .logo-okztv {
          background-image: url(../img/sprite.png);
          width: 121px;
          height: 32px;
          background-position: -168px -451px;
          background-repeat: no-repeat;
          background-size: 655px;
        }
        .text-okztv,
        .text-okztv:visited,
        .text-okztv:link {
          font-family: "PlusJakartaSansBold";
          font-size: 14px;
          line-height: 21px;
          color: #1c1a27;
          background-color: #fff;
          text-decoration: none;
          padding: 8px 27px;
          border-radius: 8px;
        }
      }
      .content-okztv {
        display: flex;
        .big-content {
          padding-right: 20px;
          margin-bottom: 0;
          .group-content {
            width: 308px;
            .img-content {
              width: 100%;
              height: 238px;
              display: block;
              cursor: pointer;
              margin-bottom: 16px;
              margin-right: 0;
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
            .title-content,
            .title-content:visited,
            .title-content:link {
              color: white;
              font-family: "PlusJakartaSansBold";
              font-size: 16px;
              line-height: 25.6px;
              text-decoration: none;
              cursor: pointer;
            }
          }
        }

        .small-content {
          width: calc(100% - 308px - 20px);
          display: block;
          margin-right: 0;
          .group-content {
            display: flex;
            padding-bottom: 20.19px;
            width: 100%;
            .img-content {
              width: 117px;
              height: 65.81px;
              padding-right: 20px;
              cursor: pointer;
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }

            .title-content,
            .title-content:visited,
            .title-content:link {
              font-family: "PlusJakartaSansBold";
              font-size: 14px;
              line-height: 160%;
              color: white;
              width: calc(100% - 117px);
              cursor: pointer;
              text-decoration: none;
              padding-right: 0;
            }
          }
        }
      }
    }

    @media only screen and (min-width: 1024px) {
      header {
        .other {
          .burger-menu {
            .content-burger {
              right: -19px;
            }
          }
        }
      }
      .wrapper-container {
        width: 1015px;
        .left-section {
          .brt-terkini {
            .group-brt-terkini {
              &.glance {
                .img-section {
        
                  height: 272px;
                }
                .desc-section {
  
                  position: absolute;
                  top: 30%;
                  transform: translatey(-30%);
                }
              }
            }
            .okztv {
              .content-okztv {
                .big-content {
                  .group-content {
                    width: 373px;
                    .img-content {
                      height: 265px;
                    }
                  }
                }
                .small-content {
                  width: calc(100% - 373px - 20px);
                }
              }
            }
          }
        }
      }
    }

    @media only screen and (min-width: 1280px) {
      .wrapper-container {
        width: 1015px;
      }
      .ads2 {
        width: 970px;
      }
      .w-ads2 {
        width: 970px;
      }
      .ads3 {
        width: 590px;
      }
      .w-ads3 {
        width: 590px;
      }
      header {
        .menu {
          padding: 0 77.5px;
        }
        .other {
          .burger-menu {
            .content-burger {
              right: -105px;
            }
          }
          .search {
            #box-search-desktop {
              input {
                width: 756px;
              }
            }
          }
        }
      }
    }

    @media only screen and (min-width: 1300px) {
      header {
        .menu {
          padding: 0 69.5px;
        }
      }
      .wrapper-container {
        .left-section {
          .brt-terkini {
            .group-brt-terkini {
              &.glance {
                .img-section {
                  width: 370px;
                }
              }
            }
          }
        }
      }
      
    }

    @media only screen and (min-width: 1350px) {
      .wrapper-container {
        width: 1095px;
      }
      .ads3 {
        width: 728px;
      }
      .w-ads3 {
        width: 970px;
      }
      header {
        .menu {
          padding: 0 110.5px;
        }
      }
      header {
        .other {
          .burger-menu {
            .content-burger {
              right: -143px;
            }
          }
        }
      }
      .wrapper-container {
        width: 1015px;
        .left-section {
          .brt-terkini {
            .group-brt-terkini {
              &.glance {
                .img-section {
                  width: 409px;
                  height: 272px;
                }
                .desc-section {
                  width: calc(100% - 409px - 40px);
                  position: absolute;
                  top: 30%;
                  transform: translatey(-30%);
                }
              }
            }
          }
        }
      }
    }

    @media only screen and (min-width: 1400px) {
      .wrapper-container {
        width: 1040px;
      }
      .ads-right {
        right: calc((100% - 1040px) / 2 - 120px);
      }
      .ads-left {
        left: calc((100% - 1040px) / 2 - 120px);
      }
      header {
        .menu {
          padding: 0 84.5px;
        }
      }
      .wrapper-container {
        width: 1015px;
        .left-section {
          .brt-terkini {
            .group-brt-terkini {
              &.glance {
                .img-section {
                  width: 370px ;
                  height: 272px;
                }
                .desc-section {
                  width: calc(100% - 370px  - 40px);
                  position: absolute;
                  top: 30%;
                  transform: translatey(-30%);
                }
              }
            }

          }
        }
      }
    }

    @media only screen and (min-width: 1440px) {
      header {
        .menu {
          padding: 0 83.5px;
        }
      }
      header {
        .other {
          .burger-menu {
            .content-burger {
              right: -165px;
            }
          }
        }
      }
    }

    @media only screen and (min-width: 1460px) {
      // .wrapper-container {
      //   width: 1040px;
      // }
      header {
        .other {
          .burger-menu {
            .content-burger {
              right: -165px;
            }
          }
        }
      }
    }
    // @media only screen and (min-width: 1800px) {
    //   .wrapper-container {
    //     width: 1481px;
    //   }
    // }
  }
}

#index .sortby .forms select {
  color: black;
}

.mgbox .mgheader {
  margin-bottom: 74px;
}

.mctitle a,
.mctitle a:hover,
.mctitle a:visited,
.mctitle a:link {
    color: #333;
    text-decoration: none
}
#index .sortby .forms select {
  color: #000
}

.mgbox .mgheader {
  margin-bottom: 74px
}

#index .newscontent .list-berita .title a {
  color: #212121;
  text-decoration: none
}
#index .newscontent .list-berita .kanal {
  font-family: 'PlusJakartaSansBold';
  color: #0a5692
}


.container[data-v-62f20fc5] {
  display: grid;
  grid-template-columns: 0 1fr;
  grid-gap: 0;
  overflow: hidden;
  height: 100vh;
  background: #204695;
  background: linear-gradient(225deg, #204695 0, #e84125 60%, #f5882e 100%);
  box-sizing: border-box
}





.arrow-left[data-v-62f20fc5] {
  margin-left: min(3.2vh, 8px)
}

.product[data-v-62f20fc5] {
  display: grid;
  gap: min(3vh, 16px);
  grid-auto-flow: column;
  overflow-x: scroll;
  scroll-behavior: smooth;
  -webkit-box-pack: start;
  justify-content: flex-start;
  padding-top: min(4vh, 20px);
  padding-bottom: min(4vh, 20px);
  padding-right: min(4vh, 20px);
  box-sizing: border-box
}

.banner[data-v-62f20fc5] {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 55vh;
  max-width: 220px
}

.card[data-v-bdc52751] {
  width: 50vh;
  max-width: 200px;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-gap: 0;
  background: #fff;
  border-radius: min(4vh, 8px);
  overflow: hidden;
  text-decoration: none
}

.card-img[data-v-bdc52751] {
  height: 50vh;
  width: 50vh;
  max-width: 200px;
  max-height: 200px
}

.shine {
  background: linear-gradient(to right, #f6f7f8 0, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%) no-repeat #f6f7f8;
  display: inline-block;
  position: relative;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeholderShimmer;
  animation-timing-function: linear
}

.img-fit[data-v-bdc52751] {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%
}

.card-content[data-v-bdc52751] {
  padding: 3vh 2vh;
  display: grid;
  grid-template-rows: 1fr auto min(6.5vh, 20px);
  grid-gap: min(1.5vh, 4px);
  padding-top: min(3vh, 12px);
  padding-bottom: min(3vh, 12px);
  padding-left: min(2vh, 10px);
  padding-right: min(2vh, 10px)
}

.txt-title[data-v-bdc52751] {
  font-family: Montserrat-Regular;
  font-style: normal;
  font-weight: 500;
  font-size: min(5.5vh, 16px);
  color: #424242;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: min(2vh, 4px)
}

.txt-price[data-v-bdc52751] {
  font-family: Satoshi-Bold;
  font-style: normal;
  font-weight: 700;
  font-size: min(6.3vh, 18px);
  color: #121212
}

.info[data-v-bdc52751] {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: min(3vh, 12px);
  align-items: center
}

.discount[data-v-bdc52751] {
  display: flex;
  justify-content: center;
  align-items: center;
  width: min(13vh, 38px);
  height: min(6.5vh, 20px);
  background: #fff5f0;
  border-radius: min(1.5vh, 4px)
}

.txt-discount-lbl[data-v-bdc52751] {
  font-family: Satoshi-Medium;
  font-style: normal;
  font-weight: 500;
  font-size: min(4.5vh, 14px);
  color: #eb6951
}

.txt-discount[data-v-bdc52751] {
  font-family: Satoshi-Regular;
  font-style: normal;
  font-weight: 400;
  font-size: min(4.5vh, 14px);
  text-decoration: line-through;
  color: #8f8f8f
}

.content-arrow[data-v-62f20fc5] {
  position: static;
  display: flex;
  align-items: center;
  height: 100%;
  z-index: 1
}

.card-img[data-v-5a3f67d8] {
  background: url(https://widget-am.misteraladin.com/assets/background-lihat-semua.b5dd11a5.png) 0 0/cover no-repeat;
  height: calc(100vh - min(10vh, 20%) - min(10vh, 20%));
  background-position-y: center
}

.card[data-v-5a3f67d8] {
  width: 50vh;
  height: 100%;
  max-width: 200px;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-gap: 0;
  overflow: hidden;
  text-decoration: none;
  border-radius: min(4vh, 8px)
}

.arrow-right[data-v-62f20fc5] {
  margin-left: max(-11vh, -38px)
}

.arrow-box[data-v-62f20fc5] {
  background: #fff;
  border-radius: 100%;
  box-shadow: rgba(0, 0, 0, .2392156863) 0 3px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  user-select: none
}

.arrow[data-v-62f20fc5] {
  height: min(8vh, 28px);
  width: min(8vh, 28px)
}
