header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  height: 74px;
  position: relative;
  background-color: white;
  margin-bottom: 25px;
  width: 100%;
  background: #fff;
  box-shadow: 0px 4px 8px 0px rgba(200, 200, 200, 0.25);
  &.sticky {
    position: fixed;
    top: 0;
    z-index: 99;
  }
  .logo-techno {
    background-image: url(../img/sprite.png);
    width: 154px;
    height: 29px;
    display: block;
    background-position: 0px -458px;
    background-repeat: no-repeat;
    background-size: 655px;
  }
  .menu {
    display: flex;
    align-items: center;
    a {
      line-height: 17.64px;
      text-transform: uppercase;

      &:hover {
        background-color: #eaf1ff;
        border-radius: 32px;
      }
      &.active {
        background-color: #5b5b5b;
        color: #fff;
        border-radius: 32px;
      }
    }
    color: #fff;
  }

  .other {
    display: flex;
    #sso {
      display: flex;
      #login-sso {
        margin-left: 0px !important;
        #image_user-login {
          padding-left: 0 !important;
          line-height: 0 !important;
          .img-ava {
            position: relative !important;
            margin-left: 24px;
          }
          .text-login {
            color: #5b5b5b;
            font-family: "PlusJakartaSansBold";
            font-size: 14px;
          }
        }
      }
    }

    .login {
      display: flex;
      align-items: center;
      padding-right: 16px;
      .img-login {
        background-image: url(../img/sprite.png);
        width: 24px;
        height: 24px;
        display: block;
        background-position: -2px -3px;
        background-repeat: no-repeat;
        margin-right: 8px;
        background-size: 655px;
      }
    }

    .search {
      margin-right: 16px;
      position: relative;
      .icon-x {
        width: 28px;
        height: 28px;
        background-image: url(../img/sprite.png);
        background-repeat: no-repeat;
        margin-right: 16px;
        background-size: 655px;
      }

      .icon,
      #search-top {
        background-image: url(../img/sprite.png);
        width: 24px;
        height: 24px;
        background-position: -43px -3px;
        background-repeat: no-repeat;
        background-size: 655px;
        cursor: pointer;
      }

      #box-search-desktop {
        transform: rotate3d(0, 1, 0, 90deg);
        transform-origin: left center;
        transition: 0.5s;
        position: absolute;
        right: -43px;
        top: -9px;
        display: flex;
        background-color: white;
        align-items: center;
        z-index: 3;
        &.open {
          transform: rotate3d(0, 0, 1, 0deg);
        }
        .formsearch {
          display: flex;
          align-items: center;
          input {
            height: 42px;
            border-right-style: none;
            border-top-style: none;
            border-left-style: none;
            background-color: #f9f9f9;
            border-bottom: 1px solid white;
            border-radius: 8px;
          }
          input[type=search] {
            color: #5b5b5b;
            font-family: PlusJakartaSans-Regular;
            padding-left: 10px;
          }
          #search-top {
            position: absolute;
            right: 42px;
            top: 8px;
            border: 0;
            background-color: #f9f9f9;
            text-indent: -99999px;
          }
          .search-close {
            background-image: url(../img/sprite.png);
            width: 24px;
            height: 24px;
            background-position: -120px -3px;
            background-repeat: no-repeat;
            margin-left: 16px;
            background-size: 655px;
            background-color: white;
            z-index: 99;
            cursor: pointer;
          }
        }
      }
    }

    .burger-menu {
      position: relative;
      .icon-burger {
        width: 40px;
        height: 22px;
        position: relative;
        top: 5px;
        cursor: pointer;
        .burger-line {
          width: 16px;
          height: 2px;
          background-color: #212121;
          display: inline-block;
          position: absolute;
          transition: all 0.3s ease-in 0s;

          &:nth-child(2) {
            margin-top: 7px;
            transition: all 0.15s ease-in 0s;
            // transition: top 0.3s ease-in 0s, left 0.3s ease-in 0s,
            //   width 0.3s ease-in 0s, height 0.3s ease-in 0s,
            //   background-color 0.1s ease-in 0s;
          }
          &:nth-child(3) {
            margin-top: 14px;
          }
        }

        &.active {
          top: 0;

          .burger-line {
            width: 22px;
            left: 0;
            top: 11px;
            transition: all 0.3s ease-out 0s;
            &:nth-child(1) {
              transform: rotate(135deg);
            }
            &:nth-child(2) {
              margin-top: 0;
              opacity: 0;
              transition: all 0s ease-out 0s;
              // transition: top 0.3s ease-out 0s, left 0.3s ease-out 0s,
              //   width 0.3s ease-out 0s, height 0.3s ease-out 0s,
              //   background-color 0s ease-out 0.3s;
            }
            &:nth-child(3) {
              margin-top: 0;
              transform: rotate(45deg);
            }
          }
        }
      }
      .bg-burger {
        background: rgba(33, 33, 33, 0.3);
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 217px;
        left: 0;
        display: none;
        z-index: 999;
        &.open {
          display: block;
        }
        &.top {
          top: 74px;
        }
      }
      .content-burger {
        position: absolute;
        transform: rotate3d(0, 1, 0, 90deg);
        transform-origin: right center;
        transition: 0.5s;
        width: 373px;
        top: 39px;
        background-color: white;
        padding-left: 23px;
        border-radius: 10px;
        border: 1px solid #eaeaea;
        box-shadow: 0px 10px 30px 0px rgba(130, 130, 130, 0.25);
        padding-top: 24px;
        z-index: 999;
        overflow-y: scroll;
        visibility: hidden;
        &.open {
          transform: rotate3d(0, 0, 1, 0deg);
          visibility: visible;
        }
        .title-content {
          font-family: "PlusJakartaSansBold";
          font-size: 16px;
          color: #212122;
          padding-top: 24px;
          padding-bottom: 19px;
        }

        .content-group {
          display: flex;
          flex-wrap: wrap;

          .list-group {
            display: flex;
            align-items: center;
            width: 48%;
            padding-bottom: 16px;

            .icon {
              width: 28px;
              height: 28px;
              background-image: url(../img/sprite.png);
              background-repeat: no-repeat;
              margin-right: 16px;
              background-size: 655px;

              &.okezonetv {
                background-position: -1px -137px;
              }
              &.tren {
                background-position: -98px -137px;
              }
              &.okezoneradio {
                background-position: -51px -137px;
              }
              &.viral {
                background-position: -146px -137px;
              }
              &.beranda {
                background-position: -1px -45px;
              }
              &.news {
                background-position: -242px -136px;
              }
              &.finance {
                background-position: -48px -45px;
              }
              &.lifestyle {
                background-position: -291px -136px;
              }
              &.celebrity {
                background-position: -96px -45px;
              }
              &.bola {
                background-position: -339px -136px;
              }
              &.sport {
                background-position: -145px -45px;
              }
              &.travel {
                background-position: -387px -136px;
              }
              &.muslim {
                background-position: -194px -45px;
              }
              &.edukasi {
                background-position: -432px -136px;
              }
              &.haji {
                background-position: -242px -45px;
              }
              &.health {
                background-position: -484px -136px;
              }
              &.techno {
                background-position: -290px -45px;
              }
              &.otomatif {
                background-position: -532px -136px;
              }
              &.highend {
                background-position: -338px -45px;
              }
              &.infografis {
                background-position: -578px -136px;
              }
              &.foto {
                background-position: -386px -45px;
              }
              &.video {
                background-position: -626px -136px;
              }
              &.indeks {
                background-position: -432px -45px;
              }
            }

            .text {
              font-family: PlusJakartaSans-Regular;
              font-size: 16px;
              color: #212121;
            }
          }
        }
      }
    }
  }

  a {
    color: #5b5b5b;
    font-family: "PlusJakartaSansBold";
    font-size: 14px;

    &:visited,
    &:link {
      text-decoration: none;
      color: #5b5b5b;
    }
  }
}

#info-alert-sso {
  z-index: 9;
  .msg-show {
    height: 40px !important;
    &::before {
      margin-right: 15px;
    }
    &::after {
      display: none !important;
    }
    .msg-exit {
      cursor: pointer;
      right: 7px !important;
    }
    .msg-text {
      padding: 0 !important;
      margin-top: 0 !important;
      &::before {
        background: none !important;
      }
    }
  }
}
