.wrapper-container {
  display: flex;
  justify-content: center;
  margin: 16px auto 0;
  .left-section {
    padding-right: 22px;
    width: calc(100% - 322px);

    .headline {
      .title-container {
        font-family: "PlusJakartaSansBold";
        font-size: 20px;
        line-height: 32px;
        color: #212121;
        margin: 20px 0;
        text-transform: uppercase;
      }
      .big-section {
        margin-bottom: 30px;
        .img-section {
          padding-right: 20px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 8px;
          }
        }

        .desc-section {
          font-family: "PlusJakartaSansBold";
          a {
            text-decoration: none;
            display: flex;

            &:link,
            &:visited {
              text-decoration: none;
              display: flex;
            }
            &:hover {
              color: #457ae5;
            }
          }

          .title-text {
            text-transform: uppercase;
            color: #949393;
            font-size: 14px;
            line-height: 22.4px;
          }

          .desc-text {
            margin: 16px 0;
            color: #212121;
            font-size: 24px;
            line-height: 38.4px;
            &:hover {
              color: #457ae5;
            }
          }

          .time-text {
            color: #949393;
            font-size: 14px;
            line-height: 22.4px;
          }
        }
      }

      .small-section {
        display: flex;
        gap: 20px;
        margin-bottom: 20px;
        .group-section {
          width: 33%;
          .img-section {
            width: 100%;
            display: block;
            img {
              width: 100%;
              height: 100%;
            }
          }
          .desc-section {
            font-family: "PlusJakartaSansBold";
            a {
              display: block;
              &:visited {
                text-decoration: none;
              }
              &:link {
                text-decoration: none;
              }
            }
            .title-text {
              text-transform: uppercase;
              color: #949393;
              font-size: 14px;
              line-height: 22.4px;
              margin-top: 12px;
              font-family: "PlusJakartaSansBold";
            }

            .desc-text {
              color: #212121;
              margin: 12px 0;
              text-transform: lowercase !important;
              display: inline-block !important;
              &::first-letter {
                text-transform: uppercase;
              }
              &:visited {
                color: #212121;
              }
              &:hover {
                color: #457ae5;
              }
            }

            .time-text {
              color: #949393;
              font-size: 14px;
              line-height: 22.4px;
            }
          }
        }
      }
    }

    .brt-terkini {
      .title-brt-terkini {
        font-family: "PlusJakartaSansBold";
        margin: 20px 0;
        font-size: 20px;
        line-height: 32px;
      }
      .group-brt-terkini {
        clear: both;
        margin-bottom: 20px;
        .subgroup {
          display: flex;
        }
        &.glance {
          clear: both;
          margin-bottom: 20px;
          overflow: hidden;
          position: relative;
          padding: 20px 0;
          &::before {
            position: absolute;
            content: "";
            border-top: 1px solid #CECECE;
            width: 100%;
            left: -20px;
            top: 0;
          }
          &::after {
            position: absolute;
            content: "";
            border-top: 1px solid #CECECE;
            width: 100%;
            left: -20px;
            bottom: 0;
          }
          .subgroup {
            display: block !important;
            position: relative;
          }
          .img-section {
            float: right;
          }
          .desc-section {
            float: left;
          }
        }
        .img-section {
          margin-right: 20px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 8px;
          }
        }
        .desc-section {
          font-family: "PlusJakartaSansBold";
          a {
            display: block;
          }
          .title-text,
          .title-text:visited,
          .title-text:link {
            color: #949393;
            text-transform: uppercase;
            text-decoration: none;
          }
          .desc-text,
          .desc-text:visited,
          .desc-text:link {
            &:hover {
              color: #457ae5;
            }
            margin: 20px 0;
            text-decoration: none;
            color: #212121;
          }
          .time-text,
          .time-text:visited,
          .time-text:link {
            color: #949393;
            font-size: 16px;
            line-height: 25.6px;
            text-decoration: none;
          }
        }
      }
    }
  }
  .more-news,
  .more-news:visited,
  .more-news:link {
    font-family: "PlusJakartaSansBold";
    font-size: 20px;
    line-height: 32px;
    color: #fff;
    background-color: #1d4595;
    text-decoration: none;
    padding: 16px;
    border-radius: 8px;
    margin: 0 auto;
    width: 264px;
    display: block;
    margin-top: 32px;
    text-align: center;
  }
}

.right-section {
  width: 300px;
}

.red-sign,
.red-sign:visited,
.red-sign:link {
  font-size: 14px;
  line-height: 22.4px;
  color: #ec2424;
  margin-top: 12px;
  text-decoration: none;
}
#index .title,
#index .title a,
#index .title .kanal.news {
  font-family: "PlusJakartaSansBold" !important;
}

.jscroll-loading img {
  width: 30px;
  height: 30px;
  margin: 20px auto;
  text-align: center;
}

.jscroll-loading {
  text-align: center;
}
